<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10400003985-4bb2r4fcq54n7kme58q1ou3gjoelkpro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10400003985-4bb2r4fcq54n7kme58q1ou3gjoelkpro</string>
	<key>API_KEY</key>
	<string>AIzaSyAHitzc_PrzhqPCor5GCK_hQA9d9YDEk54</string>
	<key>GCM_SENDER_ID</key>
	<string>10400003985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.connectCam</string>
	<key>PROJECT_ID</key>
	<string>connect-cam-project-72db7</string>
	<key>STORAGE_BUCKET</key>
	<string>connect-cam-project-72db7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10400003985:ios:ba978be4d04c4e413c8c30</string>
</dict>
</plist>